.navBar {
width: 100%;
height: 65px;
position: fixed;
line-height: 65px;
text-align: center;
z-index: 50;
}

.navBar div.logoCustom {
float: left;
width: auto;
height: auto;
/* padding-left: 3rem; */
}

.navBar div.logoCustom a {
text-decoration: none;
color: #fff;
font-size: 1.5rem;
}


.main_list{
display: flex;
justify-content: space-between;
}

/* .navBar div.logoCustom a:hover {
color: #00E676;
} */
.navlinks{
    list-style: none;
    display: flex;
    float: left;
}

.buttonnav ul{
    display: flex;
    float: right;
    list-style: none ;
}
.navBar div.main_list {
height: 65px;
float: left;
margin-left: 5%;
}



.navlinks ul {
width: 100%;
height: 65px;
display: flex;
float: left;
list-style: none;
margin: 0;
padding: 0;
}

.navBar div.main_list ul li {
width: auto;
height: 65px;
padding: 0;
padding-right: 3rem;
}

.navBar div.main_list ul li a {
text-decoration: none;
color: #fff;
line-height: 65px;
font-size: 1.1rem;
}
/* 
.navBar div.main_list ul li a:hover {
color: #00E676;
} */
.home {
width: 100%;
height: 100vh;
background-position: center top;
background-size:cover;
}

.navTriggerCustom {
display: none;
}
.navBar {
padding-top: 20px;
padding-bottom: 20px;
-webkit-transition: all 0.4s ease;
transition: all 0.4s ease;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
.container {
    margin: 0;
}
}

@media screen and (max-width:768px) {
.navTriggerCustom {
    display: block;
}
.navBar div.logoCustom {
    /* margin-left: 15px; */
}
.navBar div.main_list {
    width: 100%;
    height: 0;
    overflow: hidden;
}
.navBar div.show_list {
    height: auto;
    display: none;
}
.navBar div.main_list  ul {
    flex-direction: column;
    width: 100%;
    height: 30vh;
    right: 0;
    left: 0;
    bottom: 0;
 
    /*same background color of navbar*/
    
}
.main_list{
    background-color: #fff;
    background-position: center top;
    
}
.navBar div.main_list ul li {
    width: 100%;
    color: #000 imp !important;
    text-align: right;
}
.navBar div.main_list ul li a {
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
}
.navBar div.media_button {
    display: block;
}
}
.navTriggerCustom {
cursor: pointer;
width: 30px;
height: 25px;
margin: auto;
position: absolute;
right: 30px;
top: 0;
bottom: 0;
}

.navTriggerCustom i {
background-color: #fff;
border-radius: 2px;
content: '';
display: block;
width: 100%;
height: 4px;
}

.navTriggerCustom i:nth-child(1) {
-webkit-animation: outT 0.8s backwards;
animation: outT 0.8s backwards;
-webkit-animation-direction: reverse;
animation-direction: reverse;
}

.navTriggerCustom i:nth-child(2) {
margin: 5px 0;
-webkit-animation: outM 0.8s backwards;
animation: outM 0.8s backwards;
-webkit-animation-direction: reverse;
animation-direction: reverse;
}

.navTriggerCustom i:nth-child(3) {
-webkit-animation: outBtm 0.8s backwards;
animation: outBtm 0.8s backwards;
-webkit-animation-direction: reverse;
animation-direction: reverse;
}
.navTriggerCustom.active i:nth-child(1) {
-webkit-animation: inT 0.8s forwards;
animation: inT 0.8s forwards;
}
.navTriggerCustom.active i:nth-child(2) {
-webkit-animation: inM 0.8s forwards;
animation: inM 0.8s forwards;
}
.navTriggerCustom.active i:nth-child(3) {
-webkit-animation: inBtm 0.8s forwards;
animation: inBtm 0.8s forwards;
}
@-webkit-keyframes inM {
50% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(45deg);
}
}
@keyframes inM {
50% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(45deg);
}
}
@-webkit-keyframes outM {
50% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(45deg);
}
}
@keyframes outM {
50% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(45deg);
}
}
@-webkit-keyframes inT {
0% {
    -webkit-transform: translateY(0px) rotate(0deg);
}
50% {
    -webkit-transform: translateY(9px) rotate(0deg);
}
100% {
    -webkit-transform: translateY(9px) rotate(135deg);
}
}
@keyframes inT {
0% {
    transform: translateY(0px) rotate(0deg);
}
50% {
    transform: translateY(9px) rotate(0deg);
}
100% {
    transform: translateY(9px) rotate(135deg);
}
}
@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}
@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
    }
@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}
@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}
@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}
@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}
.affix {
padding: 0;
background-color: #111;
}
.myH2 {
text-align:center;
font-size: 2rem;
}
.myP {
text-align: justify;
padding-left:15%;
padding-right:15%;
font-size: 20px;
}
@media all and (max-width:700px){
    .myP {
        padding:2%;
    }
}
@media screen and (max-width: 768px){
    .navBar div.main_list ul li a {
        color: #000 !important;
    }
}
.affix {
    background-color: #fff;
    box-shadow: 0 0.0625rem 0.375rem 0 rgb(0 0 0 / 10%);
    /* color: #000 !important; */
}
.affix div.logoCustom a {
    color: #000 !important;
}
.affix .navTriggerCustom i {
    background-color: #000 !important;
    color: #000;
}
.affix div.main_list ul li a {
    color: #000 !important;
}


